/// ----------------------------------------------------------------------

/// Swatches

/// ----------------------------------------------------------------------

$base-font-size: 16px;

$primary:   #ff0000;
$secondary: #2e14c4;
$ui-a:      #fff;
$ui-b:      #777;
$ui-c:      #444;
$ui-d:      #101010;
$ui-e:      #000;

$swatches: (
  'ui-a': (
    background: radial-gradient(ellipse at center, $ui-d 0%, $ui-e 100%),
    color: $ui-a
  ),
  'type-a': (
    color: $ui-b
  ),
  'type-b': (
    color: $ui-a
  ),
  'link-a': (
    color: $secondary,
    'hover': (
      color: darken($secondary, 15%)
    )
  ),
  'link-b': (
    background-color: $ui-d,
    color: $ui-b,
    'hover': (
      color: $ui-a
    )
  ),
  'btn-a': (
    background-color: darken($primary, 5%),
    color: $ui-a,
    'hover': (
      background-color: $primary
    )
  ),
  'btn-b': (
    background-color: darken($secondary, 5%),
    color: $ui-a,
    'hover': (
      background-color: $secondary
    )
  ),
  'btn-c': (
    border: solid 1px darken($secondary, 5%),
    color: $secondary,
    'hover': (
      border-color: $secondary
    )
  )
);
