/// ----------------------------------------------------------------------

/// Site

/// ----------------------------------------------------------------------

/// -------------------
/// Body
/// -------------------

@include class(
  $selector: 'body, html',
  $shape: 'block',
  $reset: 'body',
  $base: (
    'custom': (
      font-family: sans-serif
    )
  )
);

/// -------------------
/// Swatches
/// -------------------

@include class(
  $selector: '.swatch',
  $shape: 'square',
  $base: (
    'size': rem(50px)
  ),
  $variants: (
    '--a': (
      'swatch': map-get($swatches, 'ui-a')
    ),
    '--b': (
      'swatch': map-get($swatches, 'ui-b')
    ),
    '--c': (
      'swatch': map-get($swatches, 'type-b')
    ),
    '--d': (
      'interactive': true,
      'swatch': map-get($swatches, 'link-a')
    ),
    '--e': (
      'interactive': true,
      'swatch': map-get($swatches, 'link-b')
    ),
    '--f': (
      'interactive': true,
      'swatch': map-get($swatches, 'btn-a')
    ),
    '--g': (
      'interactive': true,
      'swatch': map-get($swatches, 'btn-b')
    )
  )
);

/// -------------------
/// Buttons
/// -------------------

@include class(
  $selector: '.btn',
  $shape: 'block',
  $base: (
    'width': auto,
    'custom': (
      padding: 1rem 1.5rem
    )
  ),
  $variants: (
    '--a': (
      'interactive': true,
      'swatch': map-get($swatches, 'btn-a')
    ),
    '--b': (
      'interactive': true,
      'swatch': map-get($swatches, 'btn-b')
    ),
    '--c': (
      'interactive': true,
      'swatch': map-get($swatches, 'btn-c')
    )
  )
);




