/// ----------------------------------------------------------------------

/// Site Tests - ToDo automate class creation

/// ----------------------------------------------------------------------

/// -------------------
/// Single Selector with body reset & custom style
/// -------------------

@include class(
  $selector: 'body',
  $shape: 'block',
  $reset: 'body',
  $custom: (
    background-color: #F8F8F8
  )
);

/// -------------------
/// Multiple Selectors, no shape
/// -------------------

@include class(
  $selector: 'p, button, a, h1, h2, h3',
  $custom: (
    font-family: sans-serif
  )
);

/// -------------------
/// Block
/// -------------------

@include class(
  $selector: '.block',
  $shape: 'block',
  $width: 3rem,
  $height: 4rem,
  $swatch: map-get($swatches, 'block')
);

/// -------------------
/// Block with variants
/// -------------------

@include class(
  $selector: '.block',
  $shape: 'block',
  $width: 3rem,
  $height: 4rem,
  $swatch: map-get($swatches, 'block'),
  $variants: (
    '--a': (
      'swatch': map-get($swatches, 'block-variant')
    )
  )
);

/// -------------------
/// Block with variant overrides
/// -------------------

@include class(
  $selector: '.block-override',
  $shape: 'block',
  $width: 3rem,
  $height: 4rem,
  $swatch: map-get($swatches, 'block'),
  $variants: (
    '--a': (
      'swatch': map-get($swatches, 'block-variant'),
      'shape': 'square',
      'size': 4rem,
      'pseudo': (
        'content': 'pseudo',
      ),
      'custom': (
        'background-color': pink
      )
    )
  )
);

/// -------------------
/// Square
/// -------------------

@include class(
  $selector: '.square',
  $shape: 'square',
  $size: 5rem,
  $swatch: map-get($swatches, 'square')
);

/// -------------------
/// Interactive
/// -------------------

@include class(
  $selector: '.interactive',
  $shape: 'block',
  $size: 5rem,
  $swatch: map-get($swatches, 'interactive')
);

/// -------------------
/// Psuedo before
/// -------------------

@include class(
  $selector: '.pseudo-before',
  $shape: 'block',
  $width: 10rem,
  $height: 5rem,
  $swatch: map-get($swatches, 'block'),
  $pseudo: (
    'content': 'before',
    'location': 'before'
  )
);

/// -------------------
/// Psuedo after
/// -------------------

@include class(
  $selector: '.pseudo-after',
  $shape: 'block',
  $width: 10rem,
  $height: 5rem,
  $swatch: map-get($swatches, 'block'),
  $pseudo: (
    'content': 'after',
  )
);


/// -------------------
/// Psuedo override
/// -------------------

@include class(
  $selector: '.pseudo-override',
  $shape: 'block',
  $width: 10rem,
  $height: 5rem,
  $swatch: map-get($swatches, 'block'),
  $pseudo: (
    'content': 'after',
  ),
  $variants: (
    '--a': (
      'pseudo': (
        'content': 'override',
        'shape': 'square'
      )
    )
  )
);




