/// ----------------------------------------------------------------------

/// Interactive

/// ----------------------------------------------------------------------

$interactive: (
  cursor: pointer,
  outline: none
);

///
/// Generate style states if the element is defined as interactive
///
/// @param {Object} $states
/// The map containing the different states (:hover, :active etc)
///
/// @param {Object} $swatch
/// The swatch map containing style properties
///
@mixin interactive(
  $states,
  $custom
) {
  @each $state in $states {
    $name: nth($state, 1);
    $map: nth($state, 2);

    @if type-of($map) == 'map' {
      &:#{$name} {
        @include apply-props(props($interactive, $map, $custom));
      }
    }
  }
}
 