/// ----------------------------------------------------------------------

/// Align children

/// ----------------------------------------------------------------------

///
/// Align the children of an element using flexbox
///
/// @param {Number} $height
/// The height
///
/// @param {Number} $offsetY
/// Where the content sits on the Y axis.
///
@function children($args) {
  $children: ();

  @if $args == 'center' {
    $children: (
      display: flex,
      justify-content: center,
      align-items: center
    );
  }
    
  @else if $args == 'center-x' {
    $children: (
      display: flex,
      justify-content: center,
    );
  }

  @else if $args == 'center-y' {
    $children: (
      display: flex,
      align-items: center,
    );
  }

  @else if $args {
    $children: (
      display: flex,
      justify-content: $args,
    );
  }

  @return $children;
}