/// ----------------------------------------------------------------------

/// Align children

/// ----------------------------------------------------------------------

///
/// Align the children of an element using flexbox
///
/// @param {Number} $height
/// The height
///
/// @param {Number} $offsetY
/// Where the content sits on the Y axis.
///
@function children($children) {
  $props: ();

  @if $children == 'center' {
    $props: (
      display: flex,
      justify-content: center,
      align-items: center
    );
  }
    
  @elseif $children == 'center-x' {
    $props: (
      display: flex,
      justify-content: center,
    );
  }

  @elseif $children == 'center-y' {
    $props: (
      display: flex,
      align-items: center,
    );
  }

  @elseif $children {
    $props: (
      display: flex,
      justify-content: $children,
    );
  }

  @return $props;
}