/// ----------------------------------------------------------------------

/// PX to rem

/// ----------------------------------------------------------------------

///
/// Convert PX to REM
///
/// @param {String} $px
/// The pixel size
///
/// @param {Number} $base-font-size
/// The font size to base the conversion on
///
/// @return {String} 
/// The pixel value converted to REM
///
@function rem($px, $base-font-size: 16) {
  $rem: $px;

  @if (str-index($string: #{$px}, $substring: 'px')) {
    $rem: (strip-unit($px) / $base-font-size) * 1rem;
  }
  @else if (unitless($rem)) {
    $rem: $rem * 1rem;
  }

  @return $rem;
}