/// ----------------------------------------------------------------------

/// Reset

/// ----------------------------------------------------------------------

///
/// Apply a CSS reset to an element
///
/// @param {Number} $height
/// The height
///
/// @param {Number} $offsetY
/// Where the content sits on the Y axis.
///
@function reset($reset) {
  $props: ();

  @if $reset {
    $props: (
      'list': (
        list-style: none,
        margin: 0,
        padding: 0
      ),
      'link': (
        text-decoration: none
      ),
      'spacing': (
        margin: 0,
        padding: 0
      ),
      'style': (
        background: none,
        border: none
      )
    );

    $props: map-merge(map-get($props, $reset), $props);
  }
  
  @return $props;
};