/// ----------------------------------------------------------------------

/// Block

/// ----------------------------------------------------------------------

/// -------------------
/// Default block properties
/// -------------------
///
/// Contains the default properties for a standard block
/// Will be overidden by swatch or custom styles
///
$default: (
  display: block,
  position: relative,
  background: none,
  border: none,
  box-sizing: border-box,
);

///
/// Generate a block
///
/// @param {Number} $width
/// The width
///
/// @param {Number} $height
/// The height
///
/// @param {Object} $swatch
/// The swatch map containing style properties
///
/// @param {Boolean} $interactive
/// Whether to generate states for the element (hover, active etc)
///
@function block(
  $inline: false,
  $width: null,
  $height: null,
  $height-to-pad: null,
) {

  $block: map-merge($default, ());
  $block: if($inline == true, map-merge($block, (display: inline-block)), $block);
  $block: if($height, map-merge($block, (height: $height)), $block);
  $block: if($width, map-merge($block, (width: $width)), $block);

  @if $height-to-pad {
    $padding: height-to-pad($height-to-pad...);

    $vals: (
      padding-top: get-prop($padding, 'top'),
      padding-bottom: get-prop($padding, 'bottom'),
    );

    $block: map-merge($block, $vals);
  }

  @return $block;
}
