/// ----------------------------------------------------------------------

/// Square

/// ----------------------------------------------------------------------

/// -------------------
/// Default square properties
/// -------------------
///
/// Contains the default properties for a square
/// Will be overidden by swatch or custom styles
///
$default: (
  display: block
);

///
/// Generate a square
///
/// @param {Number} $size
/// The width and height
///
@function square(
  $size: null
) {
  
  $square: if($size, map-merge($default, (width: $size, height: $size)), $default);

  @return $square;
}
